<!DOCTYPE html>
<html>
    <head>
        <title>税后收入图表</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>

    <body>
        <canvas id="incomeChart" width="800" height="400"></canvas>
        <br>
        <canvas id="differenceChart" width="800" height="400"></canvas>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html >
